@for (item of skeletonItems; track $index) {
    <mat-card class="skeleton-card">
        <mat-card-content>
            <div class="skeleton-header">
                <div class="skeleton-checkbox"></div>
                <div class="skeleton-info">
                    <div class="skeleton-title-row">
                        <div class="skeleton-title"></div>
                        <div class="skeleton-badge"></div>
                    </div>
                    <div class="skeleton-description"></div>
                    <div class="skeleton-date"></div>
                </div>
                <div class="skeleton-menu"></div>
            </div>
        </mat-card-content>
    </mat-card>
}
