mat-dialog-content {
    padding: 20px 0;
    min-width: 400px;

    @media (max-width: 576px) {
        min-width: 280px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.full-width {
    width: 100%;
}
